body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

/* Navigation bar styles */
nav {
    margin-top: 5px; /* Spacing below the title */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a: hover {
    text-decoration: underline;
}
/*End of Nav Bar*/

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.left {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

/* New styles for the prominent section */
h1 {
    font-size: 3em; /* Increase font size */
    color: #FFD700; /* A bright color to stand out */
    margin-bottom: 10px; /* Space below */
}

h3 {
    font-size: 1.5em; /* Increase font size */
    color: #E0E0E0; /* Slightly lighter for contrast */
    margin-bottom: 15px; /* Space below */
}

p {
    font-size: 1.2em; /* Increase font size */
    color: #C0C0C0; /* Light color for regular text */
}
